<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>

    <!-- DM Sans Font -->
    <link href="https://fonts.cdnfonts.com/css/google-sans" rel="stylesheet">
  </head>
  <body style="margin: 0 auto; background-color: #f5f3ff; padding: 40px 0; font-family: sans-serif;">
    <!-- Logo -->
    <div style="text-align: center; margin-bottom: 40px">
      <img
        src="https://d10bbzwoasv4gs.cloudfront.net/default/logo.png"
        alt="NursesNow Logo"
        style="width: 186px; height: auto;"
      />
    </div>
      <div style="max-width: 540px; margin: 0 auto; background-color: #ffffff; border-radius: 16px; padding: 24px;"">

      <!-- Title -->
      <h2 style="color: #2A2A2B; font-size: 18px; margin: 0 0 16px; font-weight: 700;">Forgot your password?</h2>

      <!-- Message -->
      <p style="color: #68696C; font-size: 12px; margin-top: 24px; font-weight: 400;">
        It happens! You can reset your password by clicking the button below.
      </p>

      <!-- Reset Password Button -->
      <a href="<%= redirectUrl %>" style="
        background-color: #7715E3;
        color: #fff;
        text-decoration: none;
        text-align: center;
        padding: 12px;
        width: 80%;
        max-width: 280px;
        border-radius: 12px;
        display: block;
        font-size: 16px;
        margin: 24px auto; /* Center the button */
      ">
        Reset Password
      </a>

      <!-- Expiry Note -->
      <p style="color: #68696C; font-size: 12px; margin: 24px 0 8px; font-weight: 400;">
        This link will expire in 1 hour for security reasons. If you didn’t request a password reset, you can safely ignore this email—your account is still secure.
      </p>

      <!-- Support Info -->
      <p style="color: #68696C; font-size: 12px; margin: 18px 0 18px; font-weight: 400;">
        Need help? Feel free to contact our support team at
        <a href="mailto:support@nursesnow.com" style="color: #8A28FF; text-decoration: none;">support@nursesnow.com</a>
      </p>

      <!-- Signature -->
      <p style="color: #717171; font-size: 12px; line-height: 20px; font-weight: 400;">
        Stay secure,<br />
        NursesNow Team
      </p>
    </div>

    <!-- Footer -->
    <div style="text-align: center; font-size: 12px; color: #717171; margin-top: 40px; font-family: sans-serif;">
      <p style="margin: 4px 0;">&copy; <%= new Date().getFullYear() %> NursesNow</p>
      <p style="margin: 4px 0;">
        <p style="color: #303030; text-decoration: none;">Unsubscribe</p>
      </p>
    </div>
  </body>
</html>
