<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shift Voided</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #f8f8f8;">

  <div
    style="max-width: 600px; margin: 0 auto; background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <!-- Logo -->
    <div style="text-align: center;">
      <img src="https://nurses-now-facility.solz.me/fav.png" alt="Nurses Now" style="max-width: 200px;">
    </div>

    <h2 style="color: #d9534f;">Shift Voided</h2>
    <p>Unfortunately, no temp showed up for the shift scheduled on
      <strong>
        <%= new Date(shiftData.start_date).toLocaleDateString('en-US', { month: 'long' , day: 'numeric' ,
          year: 'numeric' }) %>
      </strong>
      at
      <strong>
        <%= new Date(shiftData.start_date + 'T' + shiftData.start_time).toLocaleTimeString('en-US', { hour: 'numeric' ,
          minute: 'numeric' , hour12: true }) %>
      </strong>
      at <strong>
        <%= shiftData.facility.name %>
      </strong>
      at your facility, and the shift has been voided as a result.
    </p>

    <p>If you need assistance rescheduling this shift or arranging coverage, feel free to reach out to our support team.
    </p>

    <p>Thank you for your understanding.</p>

    <p>Kind regards,<br>
      <strong>Nurses Now</strong><br>
      Support Team
    </p>
  </div>

</body>

</html>